<?xml version="1.0"?>
<settings>
    <servers>
       <!--server>
      <id>anypoint-exchange-v3</id>
  <username>Demo_9090</username>
  <password>Demo_9090</password>
    </server-->  
    <!--server>
      <id>MuleRepository</id>
       <username>anthem.inc.nexus</username>
       <password>EFkljTsG</password>
    </server-->
     <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>4d2ab59fe904412a8e9de0c0e6f062a5~?~8cD852DE9c21462784D3e2007D1d1AA5</password>
    </server>
 <!--server>  
<id>anypoint-exchange-v3</id>
<username>~~~Client~~~</username>
<password>c60aada09ed34f2598dae48f26082b78~?~Eccc1Ddf6d02467495879aCA4f75D2DB</password>
</server-->
    </servers>
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
    <profiles>
        
        <profile>
            <id>mule-extra-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>MuleRepository</id>
                    <name>MuleRepository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>MuleRepositoryPublic</id>
                    <name>MuleRepositoryPublic</name>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
 
